*{
  box-sizing:border-box;
  
}
body{
  height:100vh;
  display:flex;
  align-items:center;

}

form{
  
  display:flex;
  flex-direction: column;
  justify-content:space-evenly;
  align-items:center;
  
  
  height:200px;
  width:300px;
  position: absolute;
  
  
  
}
.log{
  display: flex;
  background-color:blue;
  height:300px;
  width:300px;
  position:relative;
  left:40%;
  align-items:center;
  
}

.btn{
  
  cursor: pointer;
  width:100%;
}
#utilisateur{
  border:1px solid;
  width:204.9px;

  


}
.check-box{
  display:flex;
  
  

  
}



.ch{
  border:1px solid;
 
}
#pswd{
  width:204.9px;
  
  
}