


section{
    display : flex;
    flex-direction: row;
    align-items: center;
}

.objects{
    background-color: blue;
    width: 20%;
    height: 50%;
}

#list{
    width : 100%;
    display:flex;
    justify-content : space-between ;
    margin-right:50px;
    padding:0;
    list-style:none;
    text-transform:uppercase;
}

.choix{
    position: relative;
    cursor: pointer;
    padding-bottom: 5px;
}

.sub{
    display:none;
}


.choix:hover .sub{
    display:flex;
    flex-direction:column;
    list-style:none;
    padding:5px;
    position:absolute; 
    background-color:white;
    left:5px;
    
}

.sub li {
    padding: 10px 10px;
    border-bottom: 2px solid black;
    width : 100px;
    
}

.logo
{
    margin-right : 7px;
    border-bottom: none; 
}

a{
    text-decoration: none;
    color:black;
}




h1 span{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color :rgb(223, 82, 82);
}
