#hotel
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 500px;
    padding-top: 160px;
    padding-bottom: 20px;
    background: url("image/dfh_pool-33.jpg");
    background-size: cover;

} 
#hotel h2
{
    font-size: 30px;
}

 
 
#passagers{
    width :fit-content;
}
 
